/* Event.css */

/* General styles */
.events-container {
  margin: 20px;
}

.events-title {
  font-size: 24px;
  color: #efebeb;
  margin-bottom: 20px;
  margin-left: 600px;
}

/* Search bar */
.search-bar {
  margin-bottom: 20px;
  width: calc(14% - 20px);

}

.search-input {
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

.search-button {
  padding: 8px 12px;
  background-color: #ff0044;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.add-event-button {
  left: 1550px;
  width: 100px;
}

/* Add event button */
.add-event-button {
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Event list */
.event-list {
  width: 170%;
  border-collapse: collapse;
}

.event-list th,
.event-list td {
  padding: 11px;
  border: 1px solid #ffffff;
}

.event-list th {
  background-color: #1d2634;
  ;
  font-weight: bold;
}

.event-list tr:nth-child(even) {
  background-color: #1d2634;
}

.event-list tr:hover {
  background-color: #4a4a4a;
}

.event-list img {
  max-width: 100%;
  height: auto;
}

/* Event.css */

/* Event.css */

.event-list .actions {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
}

.event-list button {
  padding: 8px 15px;
  background-color: #767474;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 5px; /* Adjust margin between buttons */
  transition: all .3s;
}

.event-list button:hover {
  background-color: rgba(69, 69, 69, 0.903);
  color: #5d5c5c;
  border-color: rgb(64, 64, 64);
}

.event-list button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(117, 118, 120);
}
.event-list button + button {
  margin-top: 5px; /* Add margin to separate buttons vertically */
}

.events-container input[type="text"] {
  width: 312px; /* Adjust the width as needed */
  padding: 8px; /* Add padding for better appearance */
  margin-bottom: 10px; /* Add some space below the input */
}
