/* Base Styles */
.supporters-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.supporters-title {
  text-align: center;
  margin-bottom: 20px;
}

.supporter-list {
  display: flex; /* Change to flex */
  flex-wrap: wrap; /* Ensure items wrap properly */
  justify-content: center; /* Center contents horizontally */
  gap: 20px;
}

.supporter-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  border-radius: 50%; /* Ensure circular shape */
  margin-bottom: 10px;
  object-fit: cover; /* Maintain aspect ratio */
  object-position: center; /* Center the image within the container */
}

.user-details {
  text-align: center;
}

.user-info {
  margin-bottom: 5px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Added margin for spacing */
}

th, td {
  padding: 12px; /* Increased padding */
  text-align: center; /* Centered text */
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adjusted color */
}

/* Form Styles */
input[type="text"],
input[type="number"] {
  width: calc(100% - 20px); /* Adjusted width to fit better */
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #007bff; /* Changed focus border color */
}

/* Search Container Styles */
.supporter-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Added margin for spacing */
}

.supporter-search-container input[type="text"] {
  flex: 1; /* Take remaining space */
  margin-right: 10px; /* Added margin between input and button */
}

.supporter-search-container button {
  padding: 8px 16px; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.supporter-search-container button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

/* Button Styles */
.button {
  padding: 8px 16px; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
