.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #209FA6;
  }
  
  .logo {
    width: 452px;
    height: 300px;
    transform: scaleX(1.02) scaleY(1);
  }
  